@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Basic information about the TTA
    
    @if (!string.IsNullOrEmpty(Model.ServerName))
    {
        <small>- running on @Model.ServerName</small>    
    }
</h1>

<h4>Quote of the day</h4>

<p class="text-capitalize">
    @Model.QuoteOfTheDay
</p>
<hr class="mt-1 mb-1">
<p class="text-info">
    What the hack structure initiative to enable partners to understand automation and monitoring options in <a href="https://portal.azure.com">Azure</a> through
    different tools and mechanisms solving challenges, which will help them understand their application and workloads even
    better and to solve common challenges with <a href="https://docs.microsoft.com/en-us/azure/automation/">automation</a> and <a href="https://docs.microsoft.com/en-us/azure/azure-monitor/overview">monitoring</a> including:
</p>

<ul>
    <li>Automating deployments and practicing DevOps principles going from on-premise to the cloud with modernization in mind</li>
    <li>Detect and diagnose issues across applications and dependencies with Application Insights.</li>
    <li>Correlate infrastructure issues with VM insights and Container insights.</li>
    <li>Drill into your monitoring data with Log Analytics for troubleshooting and deep diagnostics.</li>
    <li>Support operations at scale with automated actions.</li>
    <li>Create visualizations with Azure dashboards and workbooks.</li>
    <li>Collect data from monitored resources by using Azure Monitor Metrics.</li>
    <li>Investigate change data for routine monitoring or for triaging incidents by using Change Analysis.</li>
</ul>

<p class="text-info">
    Source code is available for download
</p>
<a class="btn btn-light btn-lg"
   href="https://github.com/vrhovnik/azure-monitor-automation-wth"
   target="_blank">
    here <i class="fas fa-arrow-down"></i>
</a>