/****** Object:  Table [dbo].[Category]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [Category_pk] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagName] [nvarchar](200) NOT NULL,
 CONSTRAINT [Tags_pk] PRIMARY KEY CLUSTERED 
(
	[TagName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [Users_pk] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSetting]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSetting](
	[UserSettingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmailNotification] [bit] NULL,
 CONSTRAINT [UserSetting_pk] PRIMARY KEY CLUSTERED 
(
	[UserSettingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTask2Tags]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTask2Tags](
	[WorkTaskId] [int] NOT NULL,
	[TagName] [nvarchar](200) NOT NULL,
 CONSTRAINT [WorkTask2Tags_pk] PRIMARY KEY CLUSTERED 
(
	[WorkTaskId] ASC,
	[TagName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTaskComments]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTaskComments](
	[WorkTaskCommentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[WorkTaskId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTasks]    Script Date: 08/09/2022 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTasks](
	[WorkTaskId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserId] [int] NULL,
	[IsPublic] [bit] NULL,
	[IsCompleted] [bit] NULL,
 CONSTRAINT [WorkTasks_pk] PRIMARY KEY CLUSTERED 
(
	[WorkTaskId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'azure')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'database')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'crm')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Tags] ([TagName]) VALUES (N'affection')
INSERT [dbo].[Tags] ([TagName]) VALUES (N'apple')
INSERT [dbo].[Tags] ([TagName]) VALUES (N'aspnet')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password]) VALUES (1, N'Muriel Wiegand', N'MurielWiegand33@hotmail.com', N'1000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA:5qRDwqPWPj7x0lroj8WFajbbqj6GAhZ7')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password]) VALUES (2, N'Emmet Sawayn', N'EmmetSawayn55@hotmail.com', N'1000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA:5qRDwqPWPj7x0lroj8WFajbbqj6GAhZ7')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password]) VALUES (3, N'Skyla Bartell', N'SkylaBartell_Zemlak@hotmail.com', N'1000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA:5qRDwqPWPj7x0lroj8WFajbbqj6GAhZ7')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSetting] ON 

INSERT [dbo].[UserSetting] ([UserSettingId], [UserId], [EmailNotification]) VALUES (1, 1, 1)
INSERT [dbo].[UserSetting] ([UserSettingId], [UserId], [EmailNotification]) VALUES (2, 2, 0)
INSERT [dbo].[UserSetting] ([UserSettingId], [UserId], [EmailNotification]) VALUES (3, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[UserSetting] OFF
GO
INSERT [dbo].[WorkTask2Tags] ([WorkTaskId], [TagName]) VALUES (1, N'db')
INSERT [dbo].[WorkTask2Tags] ([WorkTaskId], [TagName]) VALUES (1, N'random')
INSERT [dbo].[WorkTask2Tags] ([WorkTaskId], [TagName]) VALUES (1, N'updated')
GO
SET IDENTITY_INSERT [dbo].[WorkTaskComments] ON 

INSERT [dbo].[WorkTaskComments] ([WorkTaskCommentId], [UserId], [WorkTaskId], [Comment], [StartDate]) VALUES (1, 50, 1, N'Velit suscipit repellendus voluptates rerum laudantium consequatur fugit. Voluptatem beatae est sed natus repudiandae modi totam quis. Optio dolorem itaque provident et veniam iusto sint rerum. Sunt corporis error. Quo consequatur delectus ex rem.', CAST(N'2022-08-26T06:14:02.510' AS DateTime))
INSERT [dbo].[WorkTaskComments] ([WorkTaskCommentId], [UserId], [WorkTaskId], [Comment], [StartDate]) VALUES (2, 30, 1, N'Tempore in rerum cupiditate aliquam. Rerum aperiam dignissimos aliquam porro et repellat numquam qui. Ab sint voluptatum veritatis unde ut nam.', CAST(N'2022-09-01T03:02:44.980' AS DateTime))
INSERT [dbo].[WorkTaskComments] ([WorkTaskCommentId], [UserId], [WorkTaskId], [Comment], [StartDate]) VALUES (3, 95, 1, N'Facilis nisi dolorem incidunt ea. Omnis quia laborum soluta velit id odio voluptatem iure velit. Similique velit expedita. Explicabo quae sit tempora magnam architecto et.', CAST(N'2022-08-30T05:55:10.840' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[WorkTaskComments] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkTasks] ON 

INSERT [dbo].[WorkTasks] ([WorkTaskId], [Description], [CategoryId], [StartDate], [EndDate], [UserId], [IsPublic], [IsCompleted]) VALUES (1, N'Consequatur quibusdam voluptatem velit. Alias impedit autem. Eveniet unde eum earum reiciendis animi dolore hic ipsum. Sit sit dolores earum occaecati omnis perspiciatis magni. Quibusdam temporibus et similique facilis quibusdam. Quam reprehenderit aut vel ut sint. Voluptatem recusandae non veniam.', 11, CAST(N'2022-08-28T00:00:00.000' AS DateTime), CAST(N'2030-09-23T00:00:00.000' AS DateTime), 91, 0, 1)
INSERT [dbo].[WorkTasks] ([WorkTaskId], [Description], [CategoryId], [StartDate], [EndDate], [UserId], [IsPublic], [IsCompleted]) VALUES (3, N'Repudiandae quam laudantium ea et. Quia deleniti nemo. Sit qui eius nam corrupti vitae aut nulla qui. Eius sapiente provident. Iusto consequatur aut. Et ut non enim reiciendis illo et cum. At consequatur natus rerum neque sunt repellendus.', 23, CAST(N'2022-08-24T00:00:00.000' AS DateTime), CAST(N'2023-10-29T00:00:00.000' AS DateTime), 82, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[WorkTasks] OFF
GO
/****** Object:  Index [WorkTaskComments_pk]    Script Date: 08/09/2022 10:40:29 ******/
ALTER TABLE [dbo].[WorkTaskComments] ADD  CONSTRAINT [WorkTaskComments_pk] PRIMARY KEY NONCLUSTERED 
(
	[WorkTaskCommentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserSetting] ADD  DEFAULT ((0)) FOR [EmailNotification]
GO
ALTER TABLE [dbo].[UserSetting]  WITH NOCHECK ADD  CONSTRAINT [UserSetting_Users_UserId_fk] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserSetting] CHECK CONSTRAINT [UserSetting_Users_UserId_fk]
GO
ALTER TABLE [dbo].[WorkTaskComments]  WITH NOCHECK ADD  CONSTRAINT [WorkTaskComments_Users_UserId_fk] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WorkTaskComments] CHECK CONSTRAINT [WorkTaskComments_Users_UserId_fk]
GO
ALTER TABLE [dbo].[WorkTaskComments]  WITH NOCHECK ADD  CONSTRAINT [WorkTaskComments_WorkTasks_WorkTaskId_fk] FOREIGN KEY([WorkTaskId])
REFERENCES [dbo].[WorkTasks] ([WorkTaskId])
GO
ALTER TABLE [dbo].[WorkTaskComments] CHECK CONSTRAINT [WorkTaskComments_WorkTasks_WorkTaskId_fk]
GO
ALTER TABLE [dbo].[WorkTasks]  WITH NOCHECK ADD  CONSTRAINT [WorkTasks_Category_CategoryId_fk] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[WorkTasks] CHECK CONSTRAINT [WorkTasks_Category_CategoryId_fk]
GO
ALTER TABLE [dbo].[WorkTasks]  WITH NOCHECK ADD  CONSTRAINT [WorkTasks_Users_UserId_fk] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WorkTasks] CHECK CONSTRAINT [WorkTasks_Users_UserId_fk]
GO
